<% if flash[:notcie] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<%= render "shared/partial", obj:@user %>
<div class="profile">
    <div class="profile-form">
        <div class="profile-content">
        <h4>プロフィール</h4>
        <% if @user.user_image? %>
            <%= image_tag @user.user_image.url, class: "login-icon" %>
        <% else %>
            <img class="login-icon" src="/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpeg">
        <% end %>
        </div>

        <div class="profile-container">
            <%= form_with url: update_home_path, method: :post do |f| %>
                <table>
                    <tr>
                        <th><%= f.label :user_image ,"アイコン画像" %></th>
                        <td><%= f.file_field :user_image, value: @user.user_image %></td>
                    </tr>
                    <tr>
                        <th><%= f.label :username ,"名前", class: "username" %></th>
                        <td><%= f.text_field :username, value: @user.username %></td>
                    </tr>
                    <tr>
                        <th><%= f.label :self_introduce ,"自己紹介", class: "self_introduce" %></th>
                        <td><%= f.text_area :self_introduce, value: @user.self_introduce %></td>
                    </tr>
                </table>
                    <ul class="profile-btn-content">
                        <li><%= f.submit "更新", class: "profile-btn"%></li>
                    </ul>
            <% end %>
        </div>
    </div>
</div>