<div class="reservation-new-content">
    <h1>予約内容確認</h1>
    <div class="resservations-confirmation">
        <%= form_with model: @reservation do |f| %>
        <table>
            <tr>
                <th><%= f.label :startDay, "開始日" %></th>
                <td><%= f.date_field :startDay, readonly: true %></td>
            </tr>
            <tr>
                <th><%= f.label :endDay, "終了日" %></th>
                <td><%= f.date_field :endDay, readonly: true %></td>
            </tr>
            <tr>
                <th><%= f.label :numberOfPeople, "人数" %></th>
                <td><%= f.number_field :numberOfPeople %></td>
            </tr>
            <tr>
                <th><%= f.label  "使用日数" %></th>
                <td><%= "#{@days}日" %></td>
            </tr>
            <tr>
                <th><%= f.label :totalPrice, "合計金額" %></th>
                <td><%= f.number_field :totalPrice, readonly: true %></td>
            </tr>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.hidden_field :user_id, value: @user %>                 
        </table>
 
        <ul>
            <li><%= f.submit "予約を確定", {class: "kakutei"} %></li>
            <li><%= link_to "詳細へ戻る", room_path %></li>
        </ul>
        <% end %>    
    </div>
</div>
