<div class ="room-new">
<h3>ルーム情報登録</h3>

<%= render "shared/partial", obj:@room %>
    <div class="room-new-form"> 
        <%= form_with model: @room do |f| %>
            <table>
                <tr>
                    <th><%= f.label :room_name ,"ルーム名", class: "room_name" %></th>
                    <td><%= f.text_field :room_name %></td>
                </tr>
        
                <tr>
                    <th><%= f.label :room_introduce ,"ルーム紹介", class: "room_introduce" %></th>
                    <td><%= f.text_field :room_introduce, placeholder: "ルーム説明を入力" %></td>
                </tr>
        
                <tr>
                    <th><%= f.label :price ,"料金", class: "price" %></th>
                    <td><%= f.number_field :price, placeholder: "1日あたりの料金" %></td>
                </tr>
        
                <tr>
                    <th><%= f.label :adress ,"住所", class: "adress" %></th>
                    <td><%= f.text_area :adress %></td>
                </tr>

                <tr>
                    <th><%= f.label :room_image ,"ルーム画像", class: "room_image" %>
                    <td><%= f.file_field :room_image %></td>
                </tr>
            </table>
        
            <div>
                <ul class="room-btn-content">
                    <li><%= f.submit "登録完了する"%></li>
                </ul>
            </div>
        <% end %>
    </div>
</div>
