<% if flash[:notcie] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<%= render "shared/partial", obj:@reservation %>

<div class="room-show-content">
    <div class="room-show-name">
    <%= @room.room_name %>
    </div>
    <%= image_tag @room.room_image.url, class: "show-image" %>
    <div class="resservations-form">
        <%= form_with url: confirm_reservation_path do |f| %>
        <table>
            <tr>
                <th><%= f.label :startDay, "開始日", class: "startDay" %></th>
                <td><%= f.date_field :startDay %></td>
            </tr>
            <tr>
                <th><%= f.label :endDay, "終了日", class: "endDay" %></th>
                <td><%= f.date_field :endDay %></td>
            </tr>
            <tr>
                <th><%= f.label :numberOfPeople, "人数", class: "numberOfPeople" %></th>
                <td><%= f.number_field :numberOfPeople %></td>
            </tr>
            <%= f.hidden_field :room_id, value: @room.id %>
        </table>
 
        <ul>
            <li><%= f.submit "予約する", {class: "yoyaku"} %></li>
        </ul>
        <% end %>    
    </div>
</div>
